selenium==4.11.2
urllib3==1.26.19
webdriver-manager
streamlit==1.30.0
seleniumbase==4.17.9
pandas_ta
git+https://github.com/baselsm/tvdatafeed
requests
numpy
pandas
pandas_ta
tvDatafeed
streamlit
lxml
